@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: roboto, Verdana, Geneva, Tahoma, sans-serif;
}

body {
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: rgb(0, 27, 148);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
}

#tab-list {
    display: flex;
    justify-content: center;
    gap: 100px;
    list-style: none;
    font-size: 1.3rem;
}

.nav-tab {
    padding: 20px 30px;
}

main {
    background-color: rgba(0, 47, 255, 0.719);
    flex: 1;
}

footer {
    background-color: rgb(0, 11, 61);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Home {
    display: grid;
    grid-template-areas: 
    "flavor flavor"
    "hours location";
}

#Home h1 {
    grid-area: flavor;
    text-align: center;
    margin-top: 30px;
}

#flavor-text {
    grid-area: flavor;
    text-align: center;
    align-self: end;
    margin-top: 85px;
}

#hours {
    margin-top: 30px;
    grid-area: hours;
    justify-self: center;
}

#hour-list {
    margin: 10px 0;
    list-style: none;
}

.hour {
    margin: 5px 0;
}

#location {
    text-align: center;
    margin-top: 30px;
    grid-area: location;
    justify-self: center;
    align-self: center;
}

#location h2 {
    margin-bottom: 10px;
}

#Menu {
    display: grid;
    grid-template-columns: 1fr auto auto;
}


.menu-holder {
    border: 3px solid #fff;
}

.menu-holder h3 {
    margin: 5px;
    font-size: 1.5rem;
}

#main-dish-menu {
    display: grid;
    grid-template-columns: 460px 460px;
    margin-top: 11px;
}

.main-dish-card,
.dessert-card,
.beverage-card  {
    margin: 10px;
    border: 1px solid orange;
    display: flex;
    width: 450px;
    justify-content: space-between;
}

.dessert-card,
.beverage-card {
    margin: 20px 10px;
}

.card-text {
    padding: 5px;
    height: 150px;
    width: 250px;
}

.card-text p {
    margin: 2px 0;
}

.card-text p:first-of-type {
    font-weight: 1000;
}

.card-text p:nth-of-type(2) {
    font-style: italic;
    margin-bottom: 10px;
}

.dish-photo {
    margin-right: 10px;
    align-self: center;
    width: 200px;
    height: 130px;
    border: 1px solid #fff;
}

#Contact {
    display: flex;
    justify-content: center;
    margin-top: 20rem;
    font-size: 2rem;
    gap: 200px;
    text-align: center;
}
